
.wrapper {
    background-image: url(https://api.kinoart.ru/storage/post/79/regular_detail_picture-f73bc74bccd5fbe85e25589f6bf12f89.jpeg);
    background-size: 300px 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
.red {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.red1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.red2 {
    text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-style: italic;
}
.red3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.red4 {
     
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.red5 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.red6 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.red7 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.red8 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.red9 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.red10 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
